@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #3A1078;
    color: whitesmoke
}

#select-mokepon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
}

.title {
    font-size: 40px;
    color: whitesmoke;
    font-weight: 800;
    margin: 16px 0 16px 0;
}

.subtitle {
    font-size:28px;
    color: whitesmoke;
    font-weight: 600;
    align-items: center;
}

.cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.cards input {
    display: none;
}

.mokepon-card {
    width: 125px;
    height: 180px;
    background-color: #4E31AA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: 400;
    font-size: 20px;
    border-radius: 20px;
}


.mokepon-card img {
    width: 100px;
}

.mokepon-card:hover {
    background-color: #6C48C5;
}

input[name="mokepon"]:checked + .mokepon-card
{
    border: 2px solid whitesmoke;
}

#select-mokepon-button {
    width: 120px;
    height: 40px;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    font-size: 16px;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 28px;
}

#show-game-map {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.key-instructions {
    width: 480px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    align-content: center;
}

.mobile-buttons {
    margin-top: 24px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.mobile-buttons button {
    width: 60px;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: 16px;
}

.mobile-buttons button:che {
    background-color: #6C48C5;
}

.up {
    grid-column: 2 / 3;
    grid-row: 1  / 2;
}

.left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.right {
    grid-column: 3 / 4;
    grid-row: 2 / 3
}

.down {
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#select-attack {
    /*height: 100vh;*/
    margin-top: 28px;
    align-items: center;
    flex-direction: column; 
    justify-content: center; 
}

.mokepon-attack {
    display: flex;
    gap: 180px;
    margin: 15px 0 0 0;
}

.mokepon-attack-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}


.mokepon-attack-card .player {
    margin: 0 0 10px 0;
}

.mokepon-attack-card .mokepon-lives {
    margin: 0 0 5px 0;
    font-size: 24px;
}

.mokepon-attack-card img{
    width: 100px;
}


.mokepon-attack-card .mokepon-name {
    margin: 5px 0 0 0;
}

.attack-buttons {
    display: flex;
    width: 400px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.mokepon-attack + h2 {
    font-size: 24px;
}

.attack-buttons button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.attack-buttons button:hover {
    background-color: #6C48C5;
}

.battle-result {
    width: 280px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: #3A1078;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 24px;
    font-weight: 400;
}

#restart-game-button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

#restart-game-button:hover {
    color: red;
}


.show-attacks {
    margin-top: 20px;
    display: grid;
    width: 320px;
    grid-template-columns: 120px 120px;
    justify-content: center;
    column-gap: 25px;
    text-align: center;
}

.show-attacks p:first-child {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px whitesmoke solid;
}

@media (max-width: 480px) {
    .mokepon-attack {
        gap: 20px;
    }

    h2 {
        text-align: center;
    }

    .attack-buttons {
        width: auto;
    }

    .key-instructions {
        display: none;
    }

    .mobile-buttons {
        display: grid;
    }

}